{% extends 'base.html' %}

{% block bodycontent %}

<h2>Welcome to ParallelText!</h2>

<section id="carousel">
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ STATIC_URL}}slide_01.png" alt="">
            <div class="carousel-caption">
                <p>Reading a book in two seperate languages. Isn't it AWESOME!!'</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ STATIC_URL }}slide_02.png" alt="">
            <div class="carousel-caption">
                <p>Proud members of this project.</p>
            </div>
        </div>
    </div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</section>

<!--
<div id="slideshow">
    <a href="#" onClick="prevImage('slideImg'); clearTimeout(timerID)"><img id="slideNavBack" src="{{ STATIC_URL }}slideNavBack.gif" width=100 height=500  border=0></a>
    <img id="slideImg" src="{{ STATIC_URL }}slide_01.png" width=800 height=500 border=0>
    <a href="#" onClick="nextImage('slideImg'); clearTimeout(timerID)"><img id="slideNavForward" src="{{ STATIC_URL }}slideNavForward.gif" width=100 height=500 border=0></a>
</div>
-->
{% endblock %}

