{% extends 'base.html' %}

{% block bodycontent %}
    <h2>Welcome to ParallelText!</h2>

    <div id="slideshow">
        <a href="#" onClick="prevImage('slideImg'); clearTimeout(timerID)"><img id="slideNavBack" src="{{ STATIC_URL }}slideNavBack.gif" width=100 height=500  border=0></a>
        <img id="slideImg" src="{{ STATIC_URL }}slide_001.png" width=800 height=500 border=0>
        <a href="#" onClick="nextImage('slideImg'); clearTimeout(timerID)"><img id="slideNavForward" src="{{ STATIC_URL }}slideNavForward.gif" width=100 height=500 border=0></a>
    </div>
{% endblock %}

