{% extends 'base.html' %}

{% block bodycontent %}

<h2>Dictionary</h2>
<div>
</div>
<table width="100%" border=1>
    <tr>
        <th width="20%">Original Word</th>
        <th width="40%">Definition (Native Language)</th>
        <th width="40%">
            <form method="GET" style="display:inline">
                Dictionary (Language: {{ form.dict_lang }} )
                <input type="submit" value="Submit">
            </form>
        </th>
    </tr>
    <tr>
        <td>word_1</td>
        <td>definition of word_1 in native language</td>
        <td>definition of word_1 in custom language</td>
    </tr>
</table>

{% endblock %}

