#slideshow {
    text-align: center;
    white-space: nowrap;
}

#slideshow a {
    text-decoration: none;
}

#slideshow a:active { color: #000000; }
#slideshow a:hover { color: #000000; }
#slideshow a:link { color: #000000; }
#slideshow a:visited { color: #000000; }

