{% extends "parallel_display/display.html" %}
{% load customList %}
{% load dajaxice_templatetags %}

{% block page1 %}
{% dajaxice_js_import %}
  <table style="vertical-align: top;">
    {% for word in text1 %}
      {% if word == "<p>" %}
        <tr><td align="{{ text1Dir }}" width=100% style="vertical-align: top; height:7em">
        {{ word }}
      {% elif word == "</p>" %}
        {{word}}
        </td></tr>
      {% else %}
        <a class="alert" 
          href=# 
          style="color:black;
            background:none;
            left:0px;
            border:none;
            padding:0px 0px;
            margin:0px 0px;" 
          rel="popover" 
          data-content="{{ text1|get_definition:forloop.counter0 }}"
          data-original-title="{{ text1|get_original:forloop.counter0 }}"
          data-trigger="hover" 
          data-placement="bottom"> {{ text1|get_original:forloop.counter0 }} </a> 
        {% endif %}
      {% endfor %}
    </table>
  </td>
{% endblock %}



{% block page2 %}	
{% dajaxice_js_import %}
<h1 onclick="Dajaxice.parallel_display.multiply(callback, {'a':'1','b':'1'})"> TEST <h1>
  <td><table style="vertical-align: top;">
    {% for word in text2 %}
      {% if word == "<p>" %}
        <tr><td align= "{{ text2Dir }}" width=100% style="vertical-align: top; height:7em">
        {{ word }}
      {%elif word == "</p>" %}
        {{word}}
        </td></tr>
      {% else %}
        <a class="alert" 
           href=# 
           style="color:black;
             background:none;
             left:0px;
             border:none;
             padding:0px 0px;
             margin:0px 0px;" 
          rel="popover" 
          data-content="{{ text2|get_definition:forloop.counter0 }}"
          data-original-title="{{ text2|get_original:forloop.counter0 }}"
          data-trigger="hover" 
          data-placement="bottom"> {{ text2|get_original:forloop.counter0 }} </a> 
        {% endif %}
      {% endfor %}
    </table>


<script src="{{STATIC_URL}}/ptext/bootbox.min.js"></script>

<script>
$(document).on("click", ".alert", function(e) {
bootbox.confirm("Do you want to add the word \"" + e.target.text + "\" to your dictionary?!", function() {
bootbox.alert(e.target.text + " has been added to your dictionary.");
});
});

$(document).on("hover",".alert",function(e){
$("a").popover();
});

function callback(data){
    alert(data.result);
}
</script>
{% endblock %}  
