{% extends "parallel_display/display.html" %}
{% load customList %}
        
        {% block page1 %}
                {% for word in text1 %}
                         <a class="tooltip_pt">
                        {{ word }}
                        {% if word != "<p>" and word != "</p>" %} 
                                <span class="custom info" style="position:fixed; margin-top:2em;">
                                        <img src={{STATIC_URL}}{{img_url}} alt="Information" height="48" width="48" />
                                        <em>                    
                                                {{ word }}<br>
                                                _dictionary
                                        </em>
                                </span></a>
                        {% endif %}
                {% endfor %}
    {% endblock %}
    
        
    
	{% block page2 %}	
    
		{% for word in text2 %}
            {% if word == "<p>" or word == "</p>" %}
    			 {{ word }}
         
             {% else %}
                 <a class="alert" 
                    href=# 
                    style="color:black;
                       background:none;
                       left:0px;
                       border:none;
                       padding:0px 0px;
                       margin:0px 0px;" 
                       rel="popover" 
                       data-content="{{ text2|get_definition:forloop.counter0 }}"
                       data-original-title="{{ text2|get_original:forloop.counter0 }}"
                       data-trigger="hover" 
                       data-placement="bottom"> {{ text2|get_original:forloop.counter0 }} </a> 

			{% endif %}
		{% endfor %}


   <script src="{{STATIC_URL}}/ptext/bootbox.min.js"></script>
    
    <script>
        $(document).on("click", ".alert", function(e) {
            bootbox.confirm("Do you want to \"" + e.target.text + "\" word to your dictionary?!", function() {
                bootbox.alert(e.target.text);
            });
        });

        $(document).on("hover",".alert",function(e){
            $("a").popover();
        });
        
    </script>
    {% endblock %}  