body {
	font-family: Arial, sans-serif;
	background-color:gray;
	
}

img {
	border: 0px;
}

h1 { 
	color:black; 
	font-size:40px; 
	font-family:cursive;
}

h2 { 
	text-align:center;
	font-family:cursive;
	letter-spacing:20px;
	word-spacing:30px;
}

	
#container {
	margin: 0px auto;
	padding: 0px;
	width: 90%;
}

#logo {
	float: left;
	height: 100px;
	width: 200px;
}

#theme {
    font-family: times, serif;
    margin-left: 400px;
}

#sysnav {
    font-size: 15px;
    margin-right: -20px;
    text-align: right;
    text-decoration:none;
}

#sysnavlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-family:cursive;
    
}

#mainnav {
    background-color: black;
    clear: both;
    font-size: large;
    text-align:center;
    padding:1px;
    width: 100%;
}

#mainnavlist li {
    display: inline;
    list-style-type: none;
    padding-right: 60px;
}

#mainnav a { text-decoration: none; }
#mainnav a:active { color: #FFFFFF; }
#mainnav a:hover { color: #FFFFFE; }
#mainnav a:link { color: #FFFFFF; }
#mainnav a:visited { color: #FFFFFF; }

footer {
	font-size: 18px;
	overflow: hidden;
	padding-bottom: 40px;
	text-align: right;
	font-family:cursive;
}

