body {
	background-color: #CCCCCC;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px;
}

#container {
	margin: 0px auto;
	padding: 0px;
	width: 80%;
}

header
{
    
}

#logo {
	float: left;
	height: 80px;
	margin-left: 10px;
	margin-top: 20px;
	width: 300px;
}

#sysnav
{
    font-size: 12px;
	height: 100px;
	overflow: hidden;
	text-align: right;
}

footer {
	font-size: 12px;
	margin: 0px;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
