    {% extends 'base.html' %}

    {% autoescape off %}
    {% block bodycontent %}
        <h3 style="color:DarkMagenta;">Reading Books</h3>   
	<div>
		<form method='post' action="">
				{% csrf_token %}
			<table>
				<tr>
					<td> <!-- {{form.book_dd.label}} -->{{form.book_dd_q}} </td>
					<td>  <!-- {{form.chapter_dd_q.label}} --> {{form.chapter_dd_q}} </td>
					<td>  {{form.left_lang_dd_q.label}}{{form.left_lang_dd_q}} </td>
					<td>  {{form.right_lang_dd_q.label}}{{form.right_lang_dd_q}} </td>
					<td><input type="submit" value="Submit" name="quran_submit"></td>
				</tr>
                <tr>
                    <td> <!-- {{form.book_dd.label}} -->{{form.book_dd_g}} </td>
                    <td>  <!-- {{form.chapter_dd_g.label}} --> {{form.chapter_dd_g}} </td>
                    <td>  {{form.left_lang_dd_g.label}}{{form.left_lang_dd_g}} </td>
                    <td>  {{form.right_lang_dd_g.label}}{{form.right_lang_dd_g}} </td>
                    <td><input type="submit" value="Submit" name="genesis_submit"></td>
                </tr>
			</table>
		</form>
	</div> 
	<div>
        <table border="2" width="100%" style="vertical-align: top;">
            <tr>
                <td style="width:50%">
                    <div class="scroll">
                        {% block page1 %}
                        {% endblock %}
                    </div>
                </td>
                
                
                <td>
                    <div class="scroll">
                        {% block page2 %}
                        {% endblock %}
                    </div>
                </td>
            </tr>
        </table>  
	</div>  
    {% endblock %}
    {% endautoescape %}
