<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <title>ParallelText</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}default.css">
        {% if include_js %}<script type="text/javascript" src="{{ STATIC_URL }}{{ include_js }}"></script>{% endif %}
    </head>
    <body>
        <div id="container">
            <header>
                {% include 'header.html' %}
            </header>

            <div id="mainnav">
                {% include 'mainnav.html' %}
            </div>

            {% block bodycontent %}
            {% endblock %}

            <footer>
                {% include 'footer.html' %}
            </footer>
        </div>
    </body>
</html>

