<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Parallel Text</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/css/docs.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/js/google-code-prettify/prettify.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="_/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="_/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="_/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="_/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="_/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="_/ico/favicon.png">

    </head>

    <body data-spy="scroll" data-target=".bs-docs-sidebar">

        <!-- Navbar
        ================================================== -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Sign Up</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                            <a href="#å">Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subhead
        ================================================== -->
        <header class="jumbotron subhead">
        <div class="container">
            <h1>Parallel Text</h1>
            <p class="lead"> - Simple Way of Learning A Second Language -
        </div>
        </header>

        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Book Collection</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Read Books</a></li>
                        <li><a href="#">Dictionary</a></li>
                        <li><a href="#">Favorite Books</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Set of Languages</a></li>
                    </ul>
                </div>
            </div>
            <!-- Docs nav
            ================================================== -->
            <!-- Overview
            ================================================== -->
            <!-- Modal
            ================================================== -->
            <!-- Carousel
            ================================================== -->
            <section id="carousel">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="_/img/slide_002.png" alt="">
                        <div class="carousel-caption">
                            <p>Reading a book in two seperate languages. Isn't it AWESOME!!'</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="_/img/slide_001.png" alt="">
                        <div class="carousel-caption">
                            <p>Proud members of this project.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </section>
        </div>

<!-- Footer
================================================== -->
<footer class="footer">
<div class="container">
    <ul class="footer-links">
        <li><a href="http://blog.getbootstrap.com">FaceBook</a></li>
        <li class="muted">&middot;</li>
        <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Twitter</a></li>
    </ul>
</div>
</footer>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="_/js/jquery.js"></script>
<script src="_/js/bootstrap-transition.js"></script>
<script src="_/js/bootstrap-alert.js"></script>
<script src="_/js/bootstrap-modal.js"></script>
<script src="_/js/bootstrap-dropdown.js"></script>
<script src="_/js/bootstrap-scrollspy.js"></script>
<script src="_/js/bootstrap-tab.js"></script>
<script src="_/js/bootstrap-tooltip.js"></script>
<script src="_/js/bootstrap-popover.js"></script>
<script src="_/js/bootstrap-button.js"></script>
<script src="_/js/bootstrap-collapse.js"></script>
<script src="_/js/bootstrap-carousel.js"></script>
<script src="_/js/bootstrap-typeahead.js"></script>
<script src="_/js/bootstrap-affix.js"></script>

<script src="_/js/holder/holder.js"></script>
<script src="_/js/google-code-prettify/prettify.js"></script>

<script src="_/js/application.js"></script>



    </body>
</html>
