<!-- Main Navigation (Post-title)
================================================== -->
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Book Collection</a>
        <ul class="nav">
            <li class="active"><a href="/parallel_display/">Read Books</a></li>
            <li><a href="#">Dictionary</a></li>
            <li><a href="#">Favorite Books</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Set of Languages</a></li>
        </ul>
    </div>
</div>

