{% extends 'base.html' %}

{% block content %}
    <h2>Account Registration</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <!--
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" value="{{ username }}" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password1" value="" /></td>
            </tr>
            <tr>
                <td>Retype Password:</td>
                <td><input type="password" name="password2" value="" /></td>
            </tr>
            <tr>
                <td colspan="2"><br></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="first_name" value="{{ first_name }}" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="last_name" value="{{ last_name }}" /></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="text" name="email" value="{{ email }}" /></td>
            </tr>
            <tr>
                <td colspan="2"><br></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input type="text" name="gender" value="{{ gender }}" /></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" name="age" value="{{ age }}" /></td>
            </tr>
            <tr>
                <td>Home Country:</td>
                <td><input type="text" name="home_country" value="{{ home_country }}" /></td>
            </tr>
            <tr>
                <td>Native Language:</td>
                <td><input type="text" name="native_lang" value="{{ native_lang }}" /></td>
            </tr>
            <tr>
                <td>Languages You Want to Learn:</td>
                <td><input type="text" name="lang_to_learn" value="{{ lang_to_learn }}" /></td>
            </tr>
                <td>Profession:</td>
                <td><input type="text" name="profession" value="{{ profession }}" /></td>
            </tr>
            <tr>
                <td>Income:</td>
                <td><input type="text" name="income" value="{{ income }}" /></td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Register"></tr>
            </tr>
        </table>
        -->
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="/login/">Login</a> with your account.</p>
{% endblock %}

